.root {

}

.form {
    margin-top: -33px;
    padding-top: 70px;
    padding-left: calc(100% * 1/12 - 30px);
    padding-right: calc(100% * 1/12 - 30px);
    lost-column: 6/12 1;
    box-shadow: 0 0 20px rgba(176, 186, 197, 0.4);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
}

.section {
    padding-top: 0;
    padding-bottom: 108px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    margin-bottom: 50px;
    position: relative;
    &:before {
         height: 4px;
         width: 160px;
         background-color: rgb(255, 215, 0);
         position: absolute;
         bottom: calc(100% + 22px);
         right: calc(100% - 92px);
         content: '';
     }
}

.subtitle {
    color: rgb(49, 53, 65);
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 24px;
}

.formSection {
    margin-bottom: 50px;
    &:last-child {
         margin-bottom: 45px;
     }
}

.input {
    margin-bottom: 20px;
    display: block;
    width: 100%;
    padding: 17px 12px;
    height: 52px;
    border-radius: 4px;
    border: 1px solid rgb(176, 186, 197);
    background-color: rgb(255, 255, 255);
    color: rgb(128, 145, 165);
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;

    &::-webkit-contacts-auto-fill-button {
        visibility: hidden;
        display: none !important;
        pointer-events: none;
        position: absolute;
        right: 0;
    }
     &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
         color: rgb(128, 145, 165);
     }

    &::-moz-placeholder { /* Firefox 19+ */
        color: rgb(128, 145, 165);
    }

    &:-ms-input-placeholder { /* IE 10+ */
        color: rgb(128, 145, 165);
    }

    &:-moz-placeholder { /* Firefox 18- */
        color: rgb(128, 145, 165);
    }
}

.area {
    min-height: 161px;
    max-height: 300px;
    resize: vertical;
}

.submit {
    transition: background-color .5s linear;
    lost-column: 6/12 1;
    display: flex!important;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 54px;
    height: 54px;
    border-radius: 0 0 2px 2px;
    background-color: rgb(0, 0, 0);
    &:hover {
         background-color: rgba(0, 0, 0, .8);
     }
}

.tooltipContainer {
    position: relative;
}

.tooltip {
    transition: opacity .2s linear;
    opacity: 0;
    background-color: red;
    padding: 5px;
    font-family: 'Helvetica Neue', sans-serif;
    color: #fff;
    position: absolute;
    left: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
    min-width: 100px;
    min-height: 30px;
    border-radius: 3px;
    &:before {
         position: absolute;
         top: 50%;
         right: 100%;
         transform: translateY(-50%);
         content: '';
         border-top: 5px solid transparent;
         border-right: 5px solid red;
         border-bottom: 5px solid transparent;
     }
}

.showTooltip {
    opacity: 1;
}
