.root {
}

.section {
    padding-bottom: 72px;
    @media(--phone) {
        padding-bottom: 42px;
    }
}

.title {
    margin-bottom: 27px;
    margin-top: 28px;
    line-height: 56px;
    @media(--phone) {
        margin-bottom: 21px;
        margin-top: 0;
    }
}

.row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.descr {
    color: rgb(255, 255, 255);
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}

.left {
    lost-column: 4/12;
    margin-right: calc(100% * 1/12 + 30px)!important;
    @media(--phone) {
        width: 100%;
    }
    @media(--phone) {
        order: 2;
    }

}

.right {
    position: relative;
    lost-column: 7/12 1;
    &:before {
         position: absolute;
         bottom: 74px;
         right: calc(100% * 4/12 + 183px);
         width: 565px;
         height: 12px;
         background-color: rgb(242, 179, 0);
         content: '';
        @media(--tablet) {
            display: none;
        }
     }
    @media (--phone) {
        order: 1;
        width: 100%;
        margin-bottom: 25px;
    }
}

.img {
    border-radius: 3px;
    overflow: hidden;
}
