.root {
    padding-top: 80px;
}

.yellow {
    background-color: rgb(255, 215, 0);
}

.white {
    background-color: #fff;
}

.gray {
    background-color: rgb(59, 59, 59);
}

.whiteGray {
    background-color: rgb(232, 232, 232);
}
