.root {
    position: relative;
    /*overflow: hidden;*/
}

.bg {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;
    svg {
        transform: translateY(-40%);
        @media(--phone) {
            display: none;
        }
    }
}

.section {
    @media (--phone) {
        padding-bottom: 30px;
    }
}

.title {
    position: relative;
    z-index: 2;
    margin-bottom: 52px;
}

.item {
    position: relative;
    cursor: pointer;
    margin-bottom: 72px;
    lost-column: 3/12;
    margin-right: calc(100% * 1/12 + 30px)!important;
    /*lost-utility: edit rgb(166, 0, 0);*/

    &:nth-child(3),
    &:nth-child(6) {
         margin-right: 0!important;
     }
     &:nth-child(1),
     &:nth-child(2),
     &:nth-child(3) {
          z-index: 12;
      }

      @media(--tablet) {
          width: calc(100% * 5/12);
          margin-right: 0!important;
          &:nth-child(1) {
               z-index: 13;
           }
           &:nth-child(3) {
                z-index: 12;
            }
            &:nth-child(2) {
                 z-index: 12;
             }
             &:nth-child(4) {
                  z-index: 11;
              }
              &:nth-child(5) {
                   z-index: 10;
               }
              &:nth-child(6) {
                   z-index: 9;
               }

      }
    @media(--phone) {
        width: calc(100% * 12/12);
        margin-bottom: 38px;
        &:nth-child(1) {
             z-index: 13;
         }
         &:nth-child(2) {
              z-index: 12;
          }
          &:nth-child(3) {
               z-index: 11;
           }
           &:nth-child(4) {
                z-index: 10;
            }
            &:nth-child(5) {
                 z-index: 9;
             }
             &:nth-child(6) {
                  z-index: 8;
              }
    }
}

.list {
    position: relative;
    z-index: 2;
    /*lost-offset: 1/12;*/
    margin-left: calc(100% * 1/12 - 30px);
    margin-right: calc(100% * 1/12 - 30px);
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
    @media(--tablet) {
        align-items: center;
    }
    @media(--phone) {
        margin-right: 0;
        margin-left: 0;
    }
}

.header {
    position: relative;
    display: flex;
    align-items: baseline;
    z-index: 11;
    margin-bottom: 22px;
    &:after {
         margin-left: 30px;
         height: 4px;
         background-color: rgb(255, 215, 0);
         width: 160px;
         content: '';
        @media(--phone) {
            width: 100%;
        }
     }
}

.icon {
    position: relative;
    z-index: 12;
    display: inline-block;
}

.sectionTitle {
    position: relative;
    z-index: 11;
    white-space: nowrap;
    @media(--phone) {
        line-height: 31px;
        font-size: 24px;
    }
}

.drop {
    padding-bottom: 40px;
    padding-top: 147px;
    padding-left: 60px;
    padding-right: 30px;
    transition: opacity .2s linear;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: -22px;
    right: -67px;
    left: -34px;
    z-index: 10;
    box-shadow: 0 0 20px rgba(176, 186, 197, 0.4);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    @media(--phone) {
        padding-top: 30px;
        box-shadow: none;
        padding-left: 25px;
        padding-bottom: 30px;
        position: static;
        visibility: visible!important;
        opacity: 1!important;
    }
}

.dropItem {
    position: relative;
    color: rgb(57, 57, 57);
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 10px;
    &:last-child {
         margin-bottom: 0;
     }
     &:before {
          position: absolute;
          top: 10px;
          right: calc(100% + 12px);
          width: 16px;
          height: 4px;
          background-color: rgb(255, 215, 0);
          content: '';
      }
}
